.productContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    max-width: 200px;
}

.productImage {
    position: relative;
    min-height: 165px;
    border-radius: 19px;
}

.productDescription {
    display: flex;
    gap: 20px;
}


.productItems {
    color: var(--primary-color);
}

.productItem {
    color: var(--text-secondary-color);
}

.productRating span {
    font-weight: bold;
}
.productPrice span {
    color: var(--primary-color);
}


